<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Currency exchange</title>
    <meta name="theme-color" content="#FBFBFB">
    <meta name="description" content="A front-end project for the currency exchange service">
    <meta name="author" content="Hoist Finance">
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link href="@Url.Content("~/Content/index.css")" rel="stylesheet">
</head>

<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div class="container">
    @RenderBody()
</div>
</body>

</html>